[Desktop Entry]
Encoding=UTF-8
Name=Arciris
Comment=Arciris P2P Cryptocurrency
Comment[fr]=Arciris, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Arciris, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/arciris-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/arciris;
Categories=Office;
